.card1 {
    position:absolute;
    left: 61px;
    top: 150px;
    width: 334px;
    height: 259px;
    background: #FFFFFF;
    box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14);
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.card1-circle { 
    position: relative;
    left: -8.56%;
    right: 24.72%;
    top: -26.34%;
    bottom: 18.23%;
    background: #E2E9FD;
}

.card1-button1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    width: 163px;
    height: 40px;
    left: 0px;
    top: 0px;
    background: #4977FF;
    border-radius: 6px;
}

.card1_button1--text {
    width: 131px;
    height: 24px;
    font-family: 'SB Sans Text';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #F6F7F8;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

